*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(-120deg, #deb0df, #a16bfe, #c589ef, #7e3bf1);
    background-size: 200% 200%;
    flex-direction: column;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.envoltorio {
    width: 65vmin;
    height: 80vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 2%;
    border: 3px solid #fafafa10;
    background: #fafafa10;
    box-shadow: -11px 12px 20px 0px rgba(0, 0, 0, 0.37) ;
  

}

.detalles-juego{
    color: #cecece;
    font-size: 1.2rem;
    font-weight: 500;
   padding: 20px 27px;
   display: flex;
   justify-content: space-between;
  
}
.tablero-juego{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    background: #ffffff0a;
    border: 1px solid #ffffff45;
    border-radius: 0 0 2% 2%;
    
}


.topo{
    cursor: pointer;
}

.invisible{
    animation:eliminar 0.3s;
   animation-fill-mode: forwards;
    /* pointer-events: none; ---> para juegos y q7ue no sea clickable*/
}
.tiempo{
    width: 100%;
    background-color: #fafafab6;
    display: flex;
    height: 10%;
}
.tiempo div{
    height: 100%;
    background-color: rgb(255, 0, 0);
    margin: 0 10px;
}

.contenedor{
    width: 600px;
    border:5px solid white;
    padding: 15PX 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.modal{
    font-family:monospace;
    width: 100%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(2.5em);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
 
}
.modal button {
    font-family:sans-serif;
    font-size: 2.5em;
    padding: 2px 20px;
    border-radius: 12px;
    cursor: pointer;
    border: 3px solid #fafafa10;
    background: #fafafa10;
    box-shadow: -11px 12px 20px 0px rgba(0, 0, 0, 0.37);
    color: white;
}
.modal p {
    display: block;
    padding: 100px;
    font-family:monospace;
    color: white;
    font-size: 4.1em;
    border-radius: 12px;
}

@keyframes eliminar{
    0%{
        opacity:1;
    }100%{ 
        opacity:0;
    }
}
.desaparece{
    animation:eliminar 0.2s;
    animation-fill-mode: forwards;
}

img{
   height:100%;
   width:100%;
}